.container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.inputContainer {
  margin-bottom: 2rem;
  max-width: 400px;
  margin: 0 auto 2rem;
}

.fullWidth {
  width: 100%;
}
.boardRow {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.boardLinkWrapper {
  flex: 1;
}

.boards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.boardButton {
  min-width: 240px;
}

.link {
  color: white;
}