.container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.boards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.boardButton {
  min-width: 240px;
}

.link {
  color: white;
}
